name: Changelog Automático

on:
  push:
    branches: ["main"]

jobs:
  changelog:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Gerar changelog
      run: npx auto-changelog -p

    - name: Commitar changelog
      uses: stefanzweifel/git-auto-commit-action@v5
      with:
        commit_message: "Atualização automática do CHANGELOG"
        file_pattern: CHANGELOG.md
